@import 'Styles/common/_variables.scss';
@import 'Styles/responsive.scss';

.item-container {
    margin-bottom: 20px;
    position: relative;
    display: block;
    .cover-image {
        width: 100%;
    }
    .user-info-container {
        display: inline-flex;
        position: absolute;
        bottom:0;
        left:0;
        right: 0;
        padding: 10px;
        align-items: flex-end;
        justify-content: left;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 100%);
        @include tablet {
            display: none;
        }
        img {
            cursor: pointer;
            width: 20%;
            height: 20%;
            border-radius: 50%;
        }
        .user-name {
            cursor: pointer;
            padding-left:10px;
            color: $greyscale1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-break: break-all;
            &:hover {
                color: $greyscale5;
            }
        }
    }
    &:hover {
        @include tablet {
            .user-info-container{
                display: inline-flex;
            }
        }
    }
}